<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>classifyTitle</key>
		<string>最新上线</string>
		<key>games</key>
		<array>
			<dict>
				<key>picture</key>
				<string>avatar_enterprise_vip</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_grassroot</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_vgirl</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_vip</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>1</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classifyTitle</key>
		<string>最热门</string>
		<key>games</key>
		<array>
			<dict>
				<key>picture</key>
				<string>avatar_enterprise_vip</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_grassroot</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_vgirl</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_vip</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>1</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classifyTitle</key>
		<string>离我最近</string>
		<key>games</key>
		<array>
			<dict>
				<key>picture</key>
				<string>avatar_enterprise_vip</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_grassroot</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_vgirl</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_vip</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>1</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>classifyTitle</key>
		<string>创造者工坊</string>
		<key>games</key>
		<array>
			<dict>
				<key>picture</key>
				<string>avatar_enterprise_vip</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_grassroot</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_vgirl</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>avatar_vip</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
			<dict>
				<key>picture</key>
				<string>1</string>
				<key>time</key>
				<string>5月21日</string>
				<key>subTitle</key>
				<string>女巫之章</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
